<!-- Modal -->
<div class="modal fade" id="allSteps" tabindex="-1" aria-labelledby="allStepsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allStepsLabel">Adinkra Stamping Overview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <strong>
                            <p class="mb-0">Getting Started</p>
                        </strong>
                        <button id="btn-0" type="button" class="step-select-btn btn-sm btn btn-secondary"
                            data-dismiss="modal" onclick="tutorial.selectStep(0)">Starting a New Project</button>
                        <strong>
                            <p class="mb-0">Position</p>
                        </strong>
                        <button id="btn-3" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(3)">Move To</button><br>
                        <button id="btn-5" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(5)">Translate</button>
                        <strong>
                            <p class="mb-0">Rotation</p>
                        </strong>
                        <button id="btn-9" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(9)">Point at Angle</button><br>
                        <button id="btn-11" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(11)">Rotate by</button>
                        <strong>
                            <p class="mb-0">Changing the Sprite</p>
                        </strong>
                        <button id="btn-13" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(13)">Switch to Costume</button><br>
                        <button id="btn-15" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(15)">Set Color Effect</button><br>
                        <button id="btn-17" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(17)">Set Size</button>
                    </div>
                    <div class="col-6">

                        <strong>
                            <p class="mb-0">Iteration</p>
                        </strong>
                        <button id="btn-20" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(20)">Repeat</button><br>
                        <button tid="btn-22" ype="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(22)">Repeat w/ Out Stamp Back</button>
                        <strong>
                            <p class="mb-0">Adding Sounds</p>
                        </strong>
                        <button id="btn-25" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(25)">Creating Music</button><br>
                        <button id="btn-27" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(27)">Add and Play Music</button>
                        <strong>
                            <p class="mb-0">Using the Pen</p>
                        </strong>
                        <button id="btn-32" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(32)">Pen Size and
                            Color</button><br>
                        <button id="btn-34" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(34)">Draw
                            Line</button><br>
                        <button id="btn-36" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(36)">Draw
                            Circle</button><br>
                        <button id="btn-38" type="button" class="step-select-btn btn-sm btn btn-secondary mb-1"
                            data-dismiss="modal" onclick="tutorial.selectStep(38)">Draw Log
                            Spiral</button>
                    </div>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

