figure.software > a {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
  overflow: hidden !important;
  border-radius: 0.25rem !important;
  height: 100%;
  background: white;
  /* margin-top: 1rem; */

  display: inline-block;
  /* flex-direction: column; */
}

figure.software.tbd > a {
  height: auto;
}

figure.software {
  transition: all 0.5s;
}

figure.software > a > img {
  width: 100% !important;
  max-width: 100%;
  height: auto;
  display: block;
  background: #f6f7f9;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

figure.software > a > figcaption {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1.25rem !important;
  /* margin-bottom: 0.5rem !important; */
  font-weight: 700 !important;
  color: #4a5568;
  line-height: 1.625;
  text-align: center;
  color: #4661ae;
}

figure.software > a {
  text-decoration: none;
}

/* figure.software:hover { */
/* background-color: crimson; */
/* transform: scale(1.05);
} */

figure.software:not(.no-effect):hover {
  /* background-color: crimson; */
  transform: scale(1.05);
}

figure.software:hover > a > figcaption {
  color: #007bffc2;
}

figure.software:hover > a > figcaption {
  /* color: #5f80df; */
}

figure.challenge {
  transition: all 0.5s;
}

figure.challenge > a {
  text-decoration: none;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
  overflow: hidden !important;
  border-radius: 0.25rem !important;
  height: 100%;
  background: white;
  /* margin-top: 1rem; */

  display: inline-block;
  /* transition: all 0.5s; */
}

figure.challenge > a > figcaption > h4 {
  font-size: 1.25rem !important;
  margin-bottom: 0.5rem !important;
  font-weight: 700 !important;
  color: #4a5568;
  line-height: 1.625;
}

figure.challenge > a > img {
  width: 100% !important;
  max-width: 100%;
  height: auto;
  display: block;
  background: #f6f7f9;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

figure.challenge > a > figcaption {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;

  margin-bottom: 0.5rem !important;

  line-height: 1.625;
}

figure.challenge > a > figcaption > p {
  height: 85px;
  overflow-y: scroll;
  font-size: 0.95rem;
}

figure.challenge > p {
  padding-left: 15px;
  padding-right: 15px;
  color: #4a55686e !important;
  font-size: 1rem;
}

figure.challenge:hover {
  /* background-color: crimson; */
  transform: scale(1.05);
}

figure.challenge:hover > a > figcaption > span {
  font-weight: 700;
}
