h1.font-size-xl {
  font-size: x-large;
}

section.homepage__blurb {
  color: black;
  background-color: #c8cbce !important;
  border: 1px solid darkgrey;
  border-radius: 5px;
}

section.homepage__blurb p {
  font-size: medium !important;
}

section.homepage__blurb p.help {
  font-size: medium !important;
  display: flex;
  justify-content: space-between;
}

span.homepage__header {
  color: #4a5568;
  font-size: medium;
}
