.wrapper {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 30px;
	overflow-x: hidden;
}

/* .progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}
.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #659cef;
  border-radius: 3px;
  transition: width 500ms ease-in-out;
} */

section#vis-progress {
	position: absolute;
	z-index: 1;
	/* display: flex; */
	width: 100%;
	height: 100%;
	/* justify-content: center; */
	/* justify-self: center; */
	background: #00000094;
	flex-direction: column;
	/* justify-items: center; */
	/* pointer-events: none; */
}

section#vis-progress p {
	margin-top: auto;
	/* display: flex; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 0;
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: 600;
	padding-bottom: 1rem;
}

section#vis-progress button {
	margin-bottom: auto;
	/* display: flex; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	/* margin-bottom: 0; */
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: 500;
	background: #2368a1;
	font-weight: 500;
	border-radius: 0.5rem;
	border: 0;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
}
.slider {
	position: absolute;
	width: 500px;
	height: 5px;
	overflow-x: hidden;
}

.line {
	position: absolute;
	opacity: 0.4;
	background: #4a8df8;
	width: 750px;
	height: 5px;
}

.subline {
	position: absolute;
	background: #4a8df8;
	height: 5px;
}
.inc {
	animation: increase 2s infinite;
}
.dec {
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	from {
		left: -5%;
		width: 5%;
	}
	to {
		left: 130%;
		width: 100%;
	}
}
@keyframes decrease {
	from {
		left: -80%;
		width: 80%;
	}
	to {
		left: 110%;
		width: 10%;
	}
}
